  @import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mooli', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
}

.container {
    background-color: white;
    padding: 20px 20px;
   margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.418);
 
}

.time-icon {
    display: flex;
    justify-content: space-between;
}

.time-icon i {
    padding: 0px 2px;

}

.tem-converter h1 {
    color: darkcyan;
    margin: 30px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.tem-body {
    display: flex;
    justify-content: space-between;

}

.tem-input,
.tem-type {
    display: flex;
    flex-direction: column;
}

.tem-input input,
.tem-type select {
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.418);
    font-size: 18px;
    margin-top: 10px;
}

.result {
    margin: 20px 0px;
}

.tem-type select {
    padding-right: 5px;
}

.result h2 {
    padding: 12px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.418);
    color: rgba(0, 0, 0, 0.897);
}

button {
    width: 100%;
    background-color: darkcyan;
    padding: 10px 0px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    font-family: 18px;
    letter-spacing: 1px;
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color: rgb(4, 172, 172);
}

@media (max-width: 768px) {
   
    .tem-body {
        display: block;
    }
    .tem-input input {
        margin-bottom: 20px;
    }
}